body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 8%, 83%); /* Couleur de fond */
    font-family: Arial, sans-serif; /* Police de caractères */
}
#score {
    font-size: 24px; /* Taille de la police du score */
    margin: 20px; /* Marge autour du score */
}
.button {
    padding: 10px 20px; /* Espacement interne du bouton */
    font-size: 16px; /* Taille de la police du bouton */
    margin-bottom: 20px; /* Marge en bas du bouton */
    cursor: pointer; /* Curseur en forme de main */
}
canvas {
    border: 2px solid black; /* Bordure autour du canvas */
    background-color: #9FE855; /* Couleur de fond du canvas */
    width: 800px;
    height: 400px;
}
