@font-face {
    font-family: 'Antic Slab';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/anticslab/v16/bWt97fPFfRzkCa9Jlp6IacVcXA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 8%, 83%); /* Couleur de fond */
    font-family: Arial, sans-serif; /* Police de caractères */
}
#score {
    font-size: 24px; /* Taille de la police du score */
    margin: 20px; /* Marge autour du score */
}
.button {
    padding: 10px 20px; /* Espacement interne du bouton */
    font-size: 16px; /* Taille de la police du bouton */
    margin-bottom: 20px; /* Marge en bas du bouton */
    cursor: pointer; /* Curseur en forme de main */
}
canvas {
    border: 2px solid black; /* Bordure autour du canvas */
    background-color: #9FE855; /* Couleur de fond du canvas */
    width: 800px;
    height: 400px;
}
